{% extends "blog/base.html" %}

{% block title %}
    Blog Page
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h2>Ritesh's has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h2>
    </div>
    <div>
        {% for blog in blogs %}
            <a href="{% url 'blog:detail' blog.id %}" ><h3>{{ blog.title }}</h3></a>
            <span>{{ blog.date|date:'d M Y' }}</span>
            <p>{{ blog.description | striptags | truncatechars:100 }}</p>

        {% endfor %}
    </div>
{% endblock %}
